# =========================
# Python basics
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Dagster local runs
# =========================
.dagster/
dagster_storage/
storage/
*.db
*.sqlite
run_storage/
event_logs/

# =========================
# MLflow
# =========================
mlruns/
mlartifacts/
*.mlflow

# local MLflow tracking DB (if using file store)
mlflow.db
mlflow.sqlite

# =========================
# Model artifacts (VERY IMPORTANT)
# =========================
*.pkl
*.joblib
*.h5
*.onnx
*.pt
*.pth

models/
model_outputs/
saved_models/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/